body {
    padding-top: 60px;
    padding-bottom: 20px;
}
textarea{
    resize: none;
}
.singlePost{
    border-top:1px #ccc solid;
}
.postTitle{
    display: inline-block;
    color:#49afcd;
}
#scoreList tr:nth-child(odd){
    background-color: ##d9534f;
}
.text-primary{
    color:#337ab7;
}
.text-success{
    color:#5cb85c;
}
.text-info{
    color:#5bc0de;
}
.text-warning{
    color:#f0ad4e;
}
.text-danger{
    color:#d9534f;
}
.bg-primary{
    background-color:#337ab7;
}
.bg-success{
    background-color:#5cb85c;
}
.bg-info{
    background-color:#5bc0de;
}
.bg-warning{
    background-color:#f0ad4e;
}
.bg-danger{
    background-color:#d9534f;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}